/* Sidebar styling */
.Sidebar {
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #282c34;
    color: white;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  }
  
  /* Sidebar Navigation */
  .Sidebar-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .Sidebar-nav li {
    margin: 20px 0;
  }
  
  .Sidebar-nav a {
    color: #61dafb;
    text-decoration: none;
    font-size: 1.2em;
    transition: color 0.3s ease;
  }
  
  .Sidebar-nav a:hover {
    color: #21a1f1;
  }
  /* Test comment */
